/* DOCUMENT SET UP */

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: Lato;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.img-scaled {
	width: 100%;
	height: 100%;
}
.img-scaled img {
  z-index: 10;
	height:100px;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}

/*search bar*/
.search-bar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {font-weight:bold;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
/*parallax*/
.parallax {
    /* other styling */
		position:fixed;
    height: 350px;
    width: 100%;
		background-image:url('../img/labimage.jpg');
			background-repeat: no-repeat;
		background-size:cover;

}
/*somehow this keeps the page from collapsing*/
.top {
  background: white;
  height: 350px;

}

.bottom {
	background-image: url('../img/obrien.jpg');
	height:625px;
	position:relative;
	top: 0px;
	background-size: cover;
	}


 /*sticky nav*/
*{
  box-sizing: border-box;
}


.nav {
  position: relative;
  z-index:10;
	text-align: center;
	border-bottom: 1px solid grey;
}
.search-bar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

/* Float the list items side by side */
ul.topnav li {float: left;
position:relative;
  left:30%}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

/*CONTENT DIV THAT HAS EVERY FUCKING THING!!!!*/

.content {
  border: 10px solid #white;
  background-color: white;
  padding: 20px;
	padding-top:50px;
	z-index: 9;
	position:relative;
	top:0px;
}
/*inside content file for the first page*/
/*all those goddamn fucking titles*/
.title {
	font-weight:bold;
	font-size:25px;
	margin:20px;
	text-align: center;
	margin-bottom:5px;
}

/*welcome shit*/
#welcome {
	margin:20px;
	padding:20px;

}
/*latest images shit*/
/*subtitles*/
/*.subtitle {
	font-size:18px;
	color:white;
	text-align:center;}*/



/*.latest-projects img{
 max-width:350px;
 max-height:220px;
 margin-top:20px;}*/


/*images for each project*/
#dehalo {
	background-image: url('../img/dehalo.jpg');
}

#anammox {
	background-image: url('../img/anammox.jpg');
}

#orgsolv {
	background-image: url('../img/orgsolv.jpg');
}
#afff {
	background-image: url('../img/afff.jpg');
}
#tce {
	background-image: url('../img/tce.jpg');
}

.overlay2 {
	position:relative;
	float:left;
	height:100%;
	width:100%;
	z-index: 100;
	background-color:rgba(0,0,0,0.3);
	font-size:20px;
	font-weight: lighter;
	color:rgba(255,255,255,.8);
	text-align:center;
	padding-top: 30%;
}

.latest-projects {
	display: inline-block;
	margin-left:15px;
	height:200px;
	width:200px;
	text-align:center;
	font-weight:bold;
	margin-bottom:20px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-size:contain;
	background-position: center;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	margin-right:15px;
}

.latest-projects:hover{
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,1);
}
/* overlay of top image to be gray*/
#overlay{
	opacity:.6;
	margin-top:0;
	position:absolute;
	top:0px;
	height:350px;
	width:100%;
	background-color: black;
	z-index: 5;

}
/*welcome over image*/
#welcome{

	color:white;
	font-size:30px;
	text-align: center;
	margin:0;
	z-index: 50;
}
#welcometitle{
	text-align:center;
	margin-top:20px;
	color:white;
	font-size:60px;
	text-transform: uppercase;

}
/*welcome overlay on top of top image*/
