/* Please read through the provided code below to understand it */

/* QUESTION #3: PLACE SIDEBAR STYLES BELOW */
.sidebar-container {
	transform: translateX(-280px);
	position: fixed;
	width:280px;
	height:100%;
	background: black;
	-webkit-transform: translateX(-280px);
	-moz-transform: translateX(280px);
	-o-transform: translate(280px);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
}
.sidebar-item {
	font-weight:700;
	font-size:16px;
	color: white;
	padding: 15px 20px 15px 20px;
}



/* QUESTION #4: PLACE CAROUSEL STYLES BELOW */
.carousel-container {
	width:960px;
	margin:auto;
	height:100%;
	overflow:hidden;
	position:relative;
}

#carousel {
	width:400%;
	height:100%;
	margin-left:0px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.carousel-item {
	width:100%;
	position:relative;
	height:100%;
	float:left;
}

/* QUESTION #5: PLACE "OTHER CSS" STYLES BELOW */
.section {
	width: 100%;
	height:500px;
	position:relative;
}


/* DOCUMENT SET UP */

body, html {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	min-width: 960px;
	background-color: white;
	-webkit-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-family: Lato;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.img-scaled {
	width: 100%;
	height: 100%;
}
.img-scaled img {
  z-index: 10;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}

/* YOU DON'T NEED TO UNDERSTAND THE CODE BELOW */



/* FREEBIES */

/* Styling the Sidebar Button */

.page-wrapper {
	height: 100%;
	width: 100%;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

/* Styling for the carousel previous button */
#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    z-index: 10;
    border:solid 2px black;
    -webkit-transition: all 0.3s;
}

/* Styling for the carousel next button */
#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border: solid 2px black;
    -webkit-transition: all 0.3s;
    z-index: 10;
}

/* Styling for the quotes and text in each section */
/*.quote, .text {
	position: absolute;
	font-size: 36px;
	color: white;
	font-weight: 700;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
   	transform: translateX(-50%) translateY(-50%);
}*/

/* Styling for the author text in each quote */
/*.author {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
}*/

/* jQuery Manipulation Classes */

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(280px);
	-moz-transform: translateX(280px);
	transform: translateX(280px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}
 /*sticky nav*/
*{
  box-sizing: border-box;
}

.top {
  background: white;
  height: 500px;
}

.top img{
	margin: auto;
	 width: 50%;
	 border: 3px solid green;
	 padding: 10px;
}
.nav {
  position: relative;
  z-index:10;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
/*ul.topnav li a:hover {color:black;}*/

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}


.content {
  border: 1px solid #white;
  /*background: white;*/
  padding: 20px;
  height: 1900px;
}

.search-bar-fixed {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {font-weight:bold;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}
